:root {
    /* - Primary Colors - */
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-light-cyan: hsl(179, 48%, 52%);
    --clr-yellow: hsl(71, 73%, 54%);
    --clr-white: hsl(0, 0%, 100%);

    /* - Secondary Colors - */
    --clr-grayish-blue: hsl(218, 22%, 67%);
    --clr-light-gray: hsl(204, 43%, 93%);

    /* - Typography - */

    --ff-body: 'Karla', sans-serif;

    --fs-s: 0.875rem;
    /* 14px */
    /* paragraph */
    --fs-m: 1rem;
    /* 16px */
    --fs-l: 1.125rem;
    /* 18px */
    /* small headings */
    --fs-xl: 1.5rem;
    /* large heading */
    --fs-xxl: 2rem;
    /* Price Span */

    --fw-m: 400;
    --fw-l: 700;

    /* - Others - */
    --spacing-xxs: 0.5rem;
    --spacing-xs: 0.75rem;
    --spacing-s: 1rem;
    --spacing-s-m: 1.125rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 2.5rem;

    --brd-radius-responsive: 0.3125rem;
    --box-padding-responsive: 1.5rem;

    --max-width-desktop: 39.6875rem;

    /* --brd-radius-mobile: 0.3125rem; */
    /* 5px */
    /* --brd-radius-desktop: var(--spacing-xxs); */
    /* 8px */
    /* --box-padding-mobile: var(--spacing-m);
    --box-padding-desktop: var(--spacing-xl); */

    /* Desktop */
    /* card border radius 0.5rem / 8px */
    /* card_box_top_span --fs 0.9375rem / 15px */
    /* card_box_tittle --fs 1.5rem / 24px */
    /* card_box_subtitle --fs 1.125rem/ 18px */

    /* Mobile */
    /* card border radius 0.3125rem / 5px */
    /* card to top 4.5rem */
    /* card to sides 2rem */
    /* card to bottom 3.875rem */
    /* card pading 1.5rem */
    /* card_box_top_span --fs 0.9375rem / 15px */
    /* card_box_tittle --fs 1.25rem / 20px */
    /* card_box_subtitle --fs 1.125rem/ 18px */
}

/* Global styles */

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: var(--spacing-l);
    background-color: var(--clr-light-gray);
    font-family: var(--ff-body);
    font-weight: var(--fw-m);

}

/* Card styles */

.card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: var(--brd-radius-responsive);
    overflow: hidden;
    box-shadow: 0px 0.9375rem 1.875rem 0px hsla(212, 100%, 34%, 0.15);
}

:is(.card_box_top, .card_box_second, .card_box_third) {
    padding: var(--box-padding-responsive);
    display: grid;
}

.card_box_top {
    background-color: var(--clr-white);
    transition: opacity ease-out 250ms
}

.card_box_second {
    background-color: var(--clr-cyan);
    gap: var(--spacing-s);
    font-size: var(--fs-m);
    color: var(--clr-white);
    transition: opacity ease-out 250ms
}

.card_box_third {
    gap: var(--spacing-s-m);
    background-color: var(--clr-light-cyan);
    color: var(--clr-white);
    transition: opacity ease-out 250ms
}

.card_box_title {
    color: var(--clr-cyan);
    font-weight: var(--fw-l);
    font-size: 1.25rem;
    padding-bottom: var(--spacing-m);
}

.flex-group-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-s);
}

.card_box_top_span {
    color: var(--clr-yellow);
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    line-height: 1.25rem;
}

.flex-group-top>.card_box_regular_p {
    font-size: var(--fs-s);
    color: var(--clr-grayish-blue);
    line-height: 1.625rem;
    /* 25px per design */
    letter-spacing: -0.0109rem;
    /* -0.175px per design */
    padding-bottom: var(--spacing-xxs);
}

.flex-group-second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card_box_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
    gap: 0.6875rem;
    font-size: var(--fs-m);
    color: hsla(204, 43%, 93%, 0.5);
}


.card_box_price_span {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-l);
    color: var(--clr-white);
}

.card_box_subtitle {
    color: var(--clr-white);
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
}

.button {
    border: none;
    background-color: var(--clr-yellow);
    border-radius: var(--brd-radius-responsive);
    box-shadow: 0px 0.625rem 0.625rem 0px hsla(0, 0%, 0%, 0.1);
    padding: 0.875rem 0;
    cursor: pointer;
    color: var(--clr-white);
    font-weight: var(--fw-l);
    transition: 200ms;
}

.button:is(:hover, :focus) {
    transform: scale(0.95);
}

:is(.card_box_top, .card_box_second, .card_box_third):is(:hover, :focus) {
    opacity: 0.7;
    font-weight: 700;
}

.card_box_list {
    font-size: var(--fs-s);
    list-style: none;
    padding: 0;
}

@media (min-width: 34rem) {
    :root {
        --brd-radius-responsive: 0.5rem;
        --box-padding-responsive: 2rem;
    }

    .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.9fr 1.2fr;
        max-width: var(--max-width-desktop);
    }

    .card_box_top {
        grid-column: span 2;
    }

    .card_box_title {
        font-size: var(--fs-xl);
    }

    .card_box_top_span {
        font-size: var(--fs-l);
    }

    .flex-group-top {
        gap: var(--spacing-xs);
        text-wrap: balance;
    }

    .flex-group-top>.card_box_regular_p {
        font-size: var(--fs-m);
    }

    .flex-group-top>.card_box_regular_p {
        padding-bottom: 0;
    }
}